.button {
    width: auto;
    margin: 0;
}

.title {
     padding-bottom: 0;
     font-weight: normal;
 }

.content {
     text-align: center;
     padding-bottom: 24px;
     white-space: pre-wrap;
}

.icon {
     display: block;
     fill: green;
     margin: 16px auto;
 }
